<div ng-controller="controladorEquipo" ng-init="inicio()">
    <div class="row" id="listaEquipos">
        <div class="col-md-8">
            <h3>Equipos Registrados</h3>
        </div>
        <div class="col-md-4 text-right">
            <button class="btn btn-outline-info" ng-click="btnAgregar()"> Registrar Equipo </button>
        </div>
        <div class="col-md-12">
            <br>
            <div class="table-responsive">
                <table class="table table-bordered table-hover text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Uniforme Visitante</th>
                            <th>Uniforme Local</th>
                            <th>Total de Jugadores</th>
                            <th>Estadio</th>
                            <th>Localidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="equipo in equipos">
                            <td>{{equipo.nombre}}</td>
                            <td>{{equipo.uniV}}</td>
                            <td>{{equipo.uniL}}</td>
                            <td>{{equipo.cantJugadores}}</td>
                            <td>{{equipo.estadio}}</td>
                            <td>{{equipo.ciudad}}</td>
                            <td>
                                <button class="btn btn-warning" ng-click="consultaAMod(equipo)">Modificar</button>
                                <button class="btn btn-danger" ng-click="eliminar($event)" id="{{equipo.id}}">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
    <input type="hidden" ng-model="registrado.id" value="0"/>
    <div class="row" id="formRegistro">
        <div class="col-md-12">
            <h3>Registro de nuevo equipo de fútbol</h3>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre:</label>
                        <input type="text" class="form-control" ng-model="registrado.nombre" placeholder="Barcelona"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Ciudad/Estado/País:</label>
                        <input type="text" class="form-control" ng-model="registrado.ciudad" placeholder="España"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre del estadio:</label>
                        <input type="text" class="form-control" ng-model="registrado.estadio" placeholder="Camp Nou"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Uniforme de Visitante:</label>
                        <input type="text" class="form-control" ng-model="registrado.uniV" placeholder="Naranja"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Uniforme de local</label>
                        <input type="text" class="form-control" ng-model="registrado.uniL" placeholder="Azul/Rojo"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Cantidad de jugadores:</label>
                        <input type="number" min='11' max='50' class="form-control" ng-model="registrado.cantJugadores" placeholder="11"/>
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <button class="btn btn-secondary" ng-click="btnRegresar()"> Regresar</button>
                    <button class="btn btn-success" ng-click="btnReg()"> Registrar</button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" ng-model="modificado.id"/>
    <div class="row" id="formModificar">
        <div class="col-md-12">
            <h3>Modificar equipo de fútbol</h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nombre:</label>
                                <input type="text" class="form-control" ng-model="modificado.nombre" placeholder="Barcelona"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Ciudad/Estado/País:</label>
                                <input type="text" class="form-control" ng-model="modificado.ciudad" placeholder="España"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nombre del estadio:</label>
                                <input type="text" class="form-control" ng-model="modificado.estadio" placeholder="Camp Nou"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Uniforme de Visitante:</label>
                                <input type="text" class="form-control" ng-model="modificado.uniV" placeholder="Naranja"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Uniforme de local</label>
                                <input type="text" class="form-control" ng-model="modificado.uniL" placeholder="Azul/Rojo"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Cantidad de jugadores:</label>
                                <input type="number" min='11' max='50' class="form-control" ng-model="modificado.cantJugadores" placeholder="11"/>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button class="btn btn-secondary" ng-click="btnRegresar()"> Regresar</button>
                            <button class="btn btn-warning" ng-click="btnMod()"> Modificar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>