<div ng-controller="controladorJugador" ng-init="inicio2()">
    <div class="row" id="listaJugadores">
        <div class="col-md-8">
            <h3>Jugadores Registrados</h3>
        </div>
        <div class="col-md-4 text-right">
            <button class="btn btn-outline-info" ng-click="btnAgregarJ()"> Registrar Jugador </button>
        </div>
        <div class="col-md-12">
            <br>
            <div class="table-responsive">
                <table class="table table-bordered table-hover text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre Completo</th>
                            <th>Edad</th>
                            <th>Posición</th>
                            <th>Equipo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="jugador in jugadores">
                            <td>{{jugador.nombre}} {{jugador.apeP}} {{jugador.apeM}}</td>
                            <td>{{jugador.edad}}</td>
                            <td>{{jugador.posicion.posicion}}</td>
                            <td>{{jugador.equipo.nombre}}</td>
                            <td>
                                <button class="btn btn-warning" ng-click="consultaAMod(jugador)">Modificar</button>
                                <button class="btn btn-danger" ng-click="eliminar($event)" id="{{jugador.id}}">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
    <input type="hidden" ng-model="jugadorR.id" value="0"/>
    <div class="row" id="formRegistro">
        <div class="col-md-12">
            <h3>Registro de nuevo jugador</h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nombre:</label>
                                <input type="text" class="form-control" ng-model="jugadorR.nombre" placeholder="Pedro"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Apellido Paterno:</label>
                                <input type="text" class="form-control" ng-model="jugadorR.apeP" placeholder="Gomez"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Apellido Materno:</label>
                                <input type="text" class="form-control" ng-model="jugadorR.apeM" placeholder="Jimenez"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Posición:</label>
                                <select class="form-control" ng-init="jugadorR.posicion = { id: 0}" ng-options="pos.posicion for pos in posiciones track by pos.id" ng-model="jugadorR.posicion">
                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Equipo:</label>
                                <select class="form-control" ng-init="jugadorR.equipo = { id: 0}" ng-options="equi.nombre for equi in equipos track by equi.id" ng-model="jugadorR.equipo"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Edad:</label>
                                <input type="number" min='18' max='45' class="form-control" ng-model="jugadorR.edad" placeholder="18"/>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button class="btn btn-secondary" ng-click="btnRegresar()"> Regresar </button>
                            <button class="btn btn-success" ng-click="btnReg()"> Registrar </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" ng-model="jugadorM.id"/>
    <div class="row" id="formModificar">
        <div class="col-md-12">
            <h3>Modificar jugador</h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nombre:</label>
                                <input type="text" class="form-control" ng-model="jugadorM.nombre" placeholder="Pedro"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Apellido Paterno:</label>
                                <input type="text" class="form-control" ng-model="jugadorM.apeP" placeholder="Gomez"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Apellido Materno:</label>
                                <input type="text" class="form-control" ng-model="jugadorM.apeM" placeholder="Jimenez"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Posición:</label>
                                <select class="form-control" ng-options="posM.posicion for posM in posiciones track by posM.id" ng-model="jugadorM.posicion"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Equipo:</label>
                                <select class="form-control" ng-options="equiM.nombre for equiM in equipos track by equiM.id" ng-model="jugadorM.equipo"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Edad:</label>
                                <input type="number" min='18' max='45' class="form-control" ng-model="jugadorM.edad" placeholder="18"/>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button class="btn btn-secondary" ng-click="btnRegresar()"> Regresar</button>
                            <button class="btn btn-warning" ng-click="btnMod()"> Modificar</button>
                        </div>
                    </div>
                </div>
            </div>                    
        </div>
    </div>
</div>